:root {
    --main-red: #ed1c24;
    --main-yellow: #f8c923;
    --main-margin: clamp(2rem, 2.5vw, 4rem);
    --main-border: 2px solid white;
}

@font-face {
    font-family: 'Akkurat';
    src: url('font/AkkuratStd-Regular.woff') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Akkurat';
    src: url('font/AkkuratStd-Bold.woff') format('woff2');
    font-weight: bold;
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Akkurat';
    src: url('font/AkkuratStd-Italic.woff') format('woff2');
    font-weight: italic;
    font-style: italic;
    font-display: swap;
}

body {
    margin: 0;
    background-color: var(--main-red);
    font-family: Akkurat;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    color: white;
}

ul {
    margin: 0px;
    padding: 0px;
}

.direction {
    margin: 0;
}